/* fonts  */
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

body{
    font-family: 'Poppins', sans-serif;
    margin:0;
}

/* ------------ Header Part Styles ------------ */
.top-part{
    display:grid;
    grid-template-columns:repeat(2,1fr);
    height:677px;
    width:100%;
    background-color:#2D25A0;
}
.top-title h1{
    color:white;
    font-weight: bold;
    font-size: 64px;
}
.title{
    width: 485px;
    height: 230px;
    margin-left: 156px;
    margin-top: 207px;
    margin-bottom: 70px;
    
}
.live-button{
    width: 168px;
    height: 44px;
    background-color:#E02C6D;
    padding: 10px 24px;
    margin-left: 156px;
    margin-top: 464px;
}
 .top-title a{
    text-decoration: none;
    color:white;
    font-size: 16px;
    font-weight: 500;
} 
.top-banner img{
    /* width:50%; */
    width: 556.01px;
    height: 438px;
    margin-left: 102px;
    margin-top: 153px;
}
 /* ------------- header part HOVER ------------------  */
 .top-part:hover{
    background-color:white;
    box-shadow: 10px 10px 20px gainsboro;
}
.top-part:hover h1{
    color:#2D25A0;   
}
.top-part:hover .top-banner img{
    transform: scale(1.3) ;
    transition: transform 2s ease-in-out;
}
/* ----------------------------------------------------------- */

/*--------------- Main Part Styles -------------- */

/* players blogs styles */
.container{
    margin-left: 180px;
    width: 1050px;
    height:474;
    margin-top:70px;
} 
.players-blog{
    display:grid;
    grid-template-columns:repeat(3,1fr);
    grid-column-gap: 30px;
    grid-row-gap: 27px;
    /* margin-bottom: 150px; */
    margin-bottom: 70px;
}
.player{
    width: 330px;
    height: 474px;
    box-shadow: 10px 10px 10px 5px gainsboro;
    padding:15px;
}
.player-img img{
    width: 300px;
    height: 256px;
    margin-left: 14px;
    
}
.player-details{
    width: 300px;
    height: 154px;
    margin-left: 14px;
}
.player-details h3{
    color:#18191F;
    font-weight: bold;
    font-size: 28px;
}
.player-details p{
    color: #6C6C6C;
    font-weight: normal;
    font-size: 16px;
}
/* ----------------------------------------------------------- */

/* -------------- Livestreaming Styles ----------------  */

.live-stream{
    display:flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 70px;
}
.live-text h3{
    color:#18191F;
    font-weight: bold;
    font-size: 25px;
    display:flex;
    justify-content: center;
    align-items: center;
}

/* ----------------------------------------------------------- */

/* -------------- Rating Styles ----------------  */

.rating-part{
    display:flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 150px;
}
.rating-details{
    width:300px;
    box-shadow: 10px 10px 20px gainsboro;
    padding: 15px;
    border-radius: 10px;
    /* display:flex;
    justify-content: center;
    align-items: center; */
}
.rating-details p{
    color: #6C6C6C;
    font-weight: normal;
    font-size: 16px;
}
.rating{
    display:flex;
    align-items: center;
    justify-content:space-between;
}
.rating-text h3{
    color:#18191F;
    font-weight: bold;
    font-size: 25px;
}
.fa-star{
    font-size: 12px;
}
.fa-star.filled{
    color:#FFC014;
}
.fa-star.empty{
    color:#AEAEAE;
}

/* ------------- rating part HOVER ------------------  */

.rating-details:hover {
    box-shadow: 10px 10px 30px #241e779a;
    cursor:pointer;
}

/* ----------------------------------------------------------- */

/* -------------- Footer Styles ----------------  */

.football-img{
    display:flex;
    justify-content: center;
    align-items:center;
    margin-bottom: 20px;
    
}
 .football-img img{
    width:30%;
} 
.social-icon{
    display:flex;
    justify-content: center;
    align-items:center;
    margin-bottom: 20px;
}
.social-icon i{
    color:grey;
    font-size:1.2em;
    border: 10px solid rgba(228, 225, 225, 0.76);
    border-radius:45px;
    margin-right: 14px;
}
.copy-right{
    display:flex;
    justify-content: center;
    align-items:center;
    margin-bottom: 63px;
}
.copy-right{
    color:#000000;
    font-size:18px;
    font-weight: normal;
}

/* ----------------------------------------------------------- */

/* ----------- Media Queries ------------- */

/* Mobile Devices */

@media only screen and (max-width:688px){
    
    .top-part, .players-blog{
        grid-template-columns:repeat(1,1fr) ;
    }
    .top-part{
        /* width: 380px; */
        width: 100%;
        height: 695px;
    }
    .top-banner img, .top-title{
        margin-left: 15px;
    }
    .top-banner img{
        width: 329px;
        height: 259.17px;
        margin-top:50px;
    }
    .title{
        width: 278px;
        height: 138px;
        margin-left: 16px;
        margin-top: 112px;
        margin-bottom:50px;
    }
    .top-title h1{
        color:white;
        font-weight: bold;
        font-size: 36px;
    }
    .live-button{
        width: 168px;
        height: 44px;
        background-color:#E02C6D;
        padding: 10px, 24px, 10px, 24px;
        margin-left: 19px;
        margin-top: 280px;
    }
    .container{
        margin-left: 5px;
        padding: 5px;
        /* width: 350px; */
        width: 100%;
    }
   .player{
    width: 320px;
    height: 460px;
   }
   .footer-part{
       width:100%;
   }
   .football-img img{
       width:70%;
   }
   .social-icon{
       margin-left:15px;
   }
   .live-stream{
       width:100%;
   }
   .live-video iframe{
    width: 300px;
    height: 200px;
   }

}

/* --------------- END ---------------- */


